* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffffff;
}
.brand h1 span {
    color: #dc143c;
}
 
/* HERO BEGINS */

#hero {
    height: 100vh;
    width: 100%;
    background-image: url(/My\ Portfolio/images/IMG2.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(7px);
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: .7;
    z-index: -1;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: 50px;
}
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4em;
    position: relative;
    color:  transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: .5s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 2s;
}
#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #dc143c;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}
#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #dc143c;
    background-color: transparent;
    border: 2px solid;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover {
    color: white;
    background-color: #dc143c;
}

/* HERO ENDS */

/* SERVICES BEGINS */

.service-item .icon {
    font-size: 45px;
    color: #1e1e61;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
#services .service {
    flex-direction: column;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 0px;
}
#services .section-title {
    font-size: 2rem;
    font-weight: 300;
    color: #000000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .05rem;
    text-align: center;
}
#services .section-title span {
    color: #dc143c;
}
#services .service-top p {
    font-size: 1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .1rem;
}
#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#services .service-item {
    width: 200px;
    flex-basis: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    background-image: url(/My\ Portfolio/images/IMG2.jpg);
    background-repeat: no-repeat;
    margin: 10px 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
#services .service-bottom .icon {
    height: 80px;
    width: 60px;
    margin-bottom: 20px;
}
#services .service-bottom .icon ion-icon{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services .service-bottom h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
}
#services .service-item p {
    color: #ffffff;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.9rem;
    text-align: left;
}
/* SERVICES ENDS */

/* PROJECT START */
#project .projects-container {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#project .projects-header h1 {
    margin-bottom: 50px;
}
#project .projects-container .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#project .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    text-align: left;
}
#project .project-info {
    padding: 25px;
    flex-basis: 40px;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: #ffffff;
    border-radius: 10px;
}
#project .project1, .project2 {
    padding: 25px;
    flex-basis: 40px;
    background-color: #ffffff;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    height: 300px;
    color: #ffffff;
    border-radius: 10px;
}
#project .project-info:nth-child(2){
    margin-top: 2%;
}
#project .project-info h1, .project1 h1, .project2 h1 {
    font-size: 2.5rem;
    font-weight: 500;
}
#project .project-info h2, .project1 h2, .project2 h2 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 10px;
}
#project .project-info p, .project1 p, .project2 p {
    font-size: 1rem;
    font-weight: 200;
}
#project .project-img {
    flex-basis: 20%;
    height: 20px;
    overflow: hidden;
    margin-top: 1%;
}
#project .project-img img {
    transition: .3s ease transform;
}
#project .project-item:hover .project-img img {
    transform: scale(1.1);
}
/* PROJECT ENDS */

/* ABOUT START */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-right {
    width: 100%;
}
#about .col-right h2 {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p {
    letter-spacing: .2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
#about .col-right .cta {
    color: #000000;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 1.6rem;
    background-color: transparent;
    border: 2px solid;
    border-color: #dc143c;
    text-transform: uppercase;
    transition: .3s ease;
    transition-property: background-color, color;
}
#about .col-right .cta:hover {
    color: white;
    background-color: #dc143c;
}
#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 13%;
    border: 10px solid #ffffff;
}
#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 5px solid #dc143c;
    z-index: -1;
}
/* ABOUT ENDS */

/* CONTACT START */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items {
    width: 400px;
}
#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-items:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .contact-item .icon {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 40px;
    color: #d68d06;
}
#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2 {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2rem;
}
/* CONTACT ENDS */

/* FOOTER START */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    width: 84.3rem;
    margin-bottom: -10%;
    height: 250px;
    flex-direction: column;
}
#footer .footer-container {
    margin-top: 30px;
}
#footer h2 {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-top: 10px;
}
#footer .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
#footer .social-item a {
    padding: 10px;
}
#footer .social-item {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    margin-top: 25px;
    font-size: 25px;
    color: #ffffff;
}
#footer p {
    color: #ffffff;
    font-size: 1.3rem;
    margin-top: 10px;
}
/* FOOTER ENDS */

/* KEYFRAMES */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: #ffffff;
    }
}
@keyframes text_reveal_name {
    100% {
        color: #dc143c;
        font-weight: 500;
    }
}
/* KEYFRAMES ENDS */


@media only screen and (max-width: 1000px) {
    #hero h1 {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 400px) {
    .container {
        min-height: 100vh;
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #hero h1 {
        font-size: 2.5rem;
    }
    #services .service-bottom {
        display: block;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 50px;
    }
    #services .service-item {
        width: 250px;
        flex-basis: 40%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 25px;
        border-radius: 10px;
    }
    #footer {
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        width: 22rem;
        height: 300px;
        margin-bottom: -85%;
        flex-direction: column;
    }
    #footer p {
        margin-top: -25px;
    }
    #about .col-right .cta {
        margin-top: 40px;
        margin-bottom: 50px;
        padding: 10px 20px;
        font-size: 1rem;
        background-color: transparent;
        border: 2px solid;
        border-color: #dc143c;
        text-transform: uppercase;
        transition: .3s ease;
        transition-property: background-color, color;
    }
}